# ‚úÖ Level 1 - Task 2: City Analysis

üîç Objective:
- Find the city with the highest number of restaurants

- Calculate average rating for each city

- Identify the city with the highest average rating

üü¶ Step 1: Import Required Libraries

In [14]:
import pandas as pd

üü¶ Step 2: Load the Dataset

In [17]:
df = pd.read_csv("DS.csv")

üü¶ Step 3: Find City with Most Restaurants

In [20]:
# Count number of restaurants per city
city_counts = df['City'].value_counts()

# City with the highest number of restaurants
top_city = city_counts.idxmax()
top_count = city_counts.max()

print(f"City with most restaurants: {top_city} ({top_count} restaurants)")

City with most restaurants: New Delhi (5473 restaurants)

üü¶ Step 4: Average Rating Per City

In [23]:
# Group by city and calculate average ratings
city_avg_rating = df.groupby('City')['Aggregate rating'].mean().round(2)

# Sort cities by average rating in descending order
sorted_avg_rating = city_avg_rating.sort_values(ascending=False)

print("\nAverage rating per city:\n")
print(sorted_avg_rating)

Average rating per city:

City
Inner City          4.90
Quezon City         4.80
Makati City         4.65
Pasig City          4.63
Mandaluyong City    4.62
                    ...
New Delhi           2.44
Montville           2.40
Mc Millan           2.40
Noida               2.04
Faridabad           1.87
Name: Aggregate rating, Length: 141, dtype: float64

üü¶ Step 5: City with Highest Average Rating

In [26]:
highest_avg_city = sorted_avg_rating.idxmax()
highest_avg = sorted_avg_rating.max()

print(f"\nCity with highest average rating: {highest_avg_city} ({highest_avg})")

City with highest average rating: Inner City (4.9)